.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  margin: auto;
  /* display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 15px #353535;
  border-radius: 4px; */
}

.container > div > div {
  display: flex;
  width: 100%;
  align-items: center;
}

@media (min-width: 1500px) {
  .image {
    width: 80%;
  }
}
