
body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.candle_container {
  position: absolute;
  top:25%;
  width: 30%;
  height: 30%;
}

@media (max-width: 768px) {
  .candle_container {
    width: 80%;
    height: 25%;
  }
}

